<!doctype html>
<html lang="en" hx-boost="true">

    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    />

    <script
        src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous">
    </script>
    <link
        rel="stylesheet"
        href="/static/build.css"
    >


    <title>
        {% block title%}
        {% endblock title%}
    </title>

    <header>
        <h1>
            HZine
        </h1>
        <h2>
            {{ self.title() }}
        </h2>
    </header>


    <main>
        {% block content %}
        {% endblock content %}
    </main>


    <footer>
        <nav>
            <ul>
                {% for uri, name in {
                "/": "Home",
                "/about": "About",
                "/archive": "Archive",
                "/contact": "Contact",
                "/press": "Press"
                }.items() %}
                <li>
                    <a
                        href="{{ uri }}"
                        {% if name == self.title().strip() %}
                            {#
                                data-title allows pseudo-elements to take the same text content
                                this allows spacing to remain consistent
                                see https://stackoverflow.com/a/20249560
                            #}
                            data-title="{{ name }}"
                            class="currentPage"
                        {% endif %}
                    >
                        {{ name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </footer>
