{% extends"_base.html.j2" %}

{% set page_id = "about" %}
{% set page_type = "copy" %}
{% set page_title = "About" %}

{% block content %}
  <section>
    <p>
      we're a magazine by and for the people.
    </p>
    <p>
      we serve and represent the entire hz student community.
    </p>
  </section>

  <section>
    <p>
      we provide a space for creative people to display their work. 
      to tell unheard stories.
      to share community events.
    </p>
    <p>
      all artists are encouraged to contribute.
      all writing and events of cultural interest are welcome.
    </p>
    <p>
      through this shared space, we can strengthen our community and build connections between artists.
    </p>
  </section>

  <section>
    <p>
      we have a small, dedicated team, made up exclusively of HZ students.
    </p>
    <p>
      hzine is run by bo, elise, micha, noor, oskar, shay, theo, vesi and viktorija, in no particular order.
    </p>
  </section>
{% endblock content %}
