{% extends"_base.html.j2" %}

{% set page_id = "archive" %}
{% set page_type = "copy" %}
{% set page_title = "Archive" %}


{% block content %}
  <section>
    <p>
      HZine is available online and in print.
    </p>
    <p>
      the print copy is typically sold a week prior to the online release.
    </p>
  </section>
  <section>
    <p>
      an archive of previous editions will be available here shortly.
    </p>
  </section>
{% endblock content %}
