{% extends"_base.html.j2" %}

{% set page_id = "contact" %}
{% set page_type = "copy" %}
{% set page_title = "Contact" %}


{% block content %}
  <section>
    <p>
      for inquiries, please contact us via email at <a href="mailto:contact@hzine.nl"><i class="email">contact@hzine.nl</i></a>.
    </p>
  </section>
{% endblock content %}
