{% extends"_base.html.j2" %}

{% set page_id = "donate" %}
{% set page_type = "copy" %}
{% set page_title = "Donate" %}


{% block content %}
  <section>
    <p>
      buying a print copy and sharing it with friends, family members, colleagues, strangers and pets
      is the best way to support us. but we sell copies at a loss. we aren't profitable, and we don't want to be.
    </p>
    <p>
      if you want to give us some extra support, we'd be very grateful.
      you can donate <a href="https://gofund.me/0ed7f7f1">on gofundme</a>.
    </p>
  </section>
{% endblock content %}
