{% extends"_base.html.j2" %}

{% set page_id = "index" %}
{% set page_type = "home" %}
{% set page_title = "Home" %}


{% block content %}
    <hgroup>
        <h1>
            art & culture.
        </h1>
        <h2>
            by the people, for the people.
        </h2>
        <h3>
            forever the original.
        </h3>
    </hgroup>
{% endblock content %}
