{% extends"_base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <hgroup>
        <h2>
            art & culture.
        </h2>
        <h3>
            by the people, for the people.
        </h3>
    </hgroup>
    <div>
        <p>
            a magazine by and for the students of <a href="https://hz.nl">HZ</a>.
        </p>
        <p>
            art and cultural work that students make, organise or care about.
        </p>
        <p>
            a platform for inspiration and radical ideas.
        </p>
        <p>
            forever the original.
        </p>
    </div>
{% endblock content %}
