@use "reset";
@use "aileron";
@use "noise";
@use "sass:string";

// we want to have header/footer "in the margins"
// so we set a horizontal margin on body
// and then the header/footer to the same height
$spacing-external: 2rem;

// the padding inside the main element
$spacing-internal: 1rem;

body {
  padding: 0;
  margin: 0 $spacing-external;
  font-family: "Aileron", Helvetica, Arial, sans-serif;
}

.container {
  flex: auto;
  border: solid 1px;
  padding: $spacing-internal;

  // Use the whole viewport, giving space for top and bottom margins
  height: calc(100svh - calc(2 * $spacing-external) - $spacing-internal);
  overflow-y: auto;
  overflow-x: hidden;

  

  @include noise.background-noise(
    hsl(350, 80, 50, 60%),
    hsl(200, 70, 30, 60%),
    hsl(150, 60, 50, 60%)
  );

  &[data-page-type="home"] main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 3vmax;

    img {
      height: 20vmax;
      margin: 0 auto;
    }

    hgroup {
      flex-direction: inherit;
      text-align: center;
      gap: 1vmax;
      color: white;

      * {
        display: block;
      }

      h2 {
        font-size: 1.75vmax;
        font-weight: 700;
      }

      h1 {
        font-size: 4.5vmax;
        font-weight: 300;
      }

      h3 {
        font-size: 2.5vmax;
        font-weight: 900;
      }
    }
  }

  &[data-page-type="copy"] {
    main {
      width: 80%;
      min-width: 12rem;
      flex-shrink: 0;
      height: min-content;

      flex-direction: column;
      gap: 1rem;

      section {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;

        color: hsl(0, 0, 95%);
        background-color: hsl(0, 0, 10%, 20%);
        font-size: 0.9rem;

        p {
          display: block;
          * {
            display: inline;
          }
        }

        i.email {
          font-family: monospace;
          font-style: normal;
        }
      
        a {
          color: hsl(200, 70%, 70%);
          font-weight: bolder;
        }

      }
    }

    h1 {
      writing-mode: vertical-rl;
      text-transform: uppercase;
      pointer-events: none;

      color: hsl(0, 0, 100%, 10%);
      font-size: 16vh;
      font-weight: 900;

      position: fixed;
      right: 2rem;
    }
  }
}

header,
footer {
  min-height: $spacing-external;
  max-height: fit-content;
  justify-content: space-between;
  font-weight: bolder;
  text-transform: uppercase;

  * {
    // vertically center
    margin: auto 0;
  }

  nav ul {
    column-gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      display: inline-block;

      a {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;

        color: black;
        text-decoration: underline 3px;

        &.currentPage {
          font-weight: lighter;
          text-decoration: none;
          pointer-events: none;

          // we create a hidden pseudo-element with the size of a bolded entry
          // to maintain size even when it's not bolded
          // see https://stackoverflow.com/a/20249560
          &::before {
            display: block;
            content: attr(data-title);
            text-transform: uppercase;
            font-weight: bolder;
            height: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}
